<nav class="menu" id="menu">
  <ul>
    <ul class="account-box">
      <li>
        <section class="account-avatar">
          <i class="fa fa-university"></i>
        </section>
        <section class="account-info">
          <h1>Grupo Bom Clima</h1>
          <select class="select">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <a href="#">Troca de Conta</a>
        </section>
      </li>
    </ul>
    <li class="menu-link">
      <% link_to '/views/dashboard/dashboard.html' do %>
        <i class="fa fa-tachometer"></i>
        Dashboard
      <% end %>
    </li>
    <li class="menu-link">
      <% link_to '/views/widgets/widgets.html' do %>
        <i class="fa fa-th-large"></i>
        Widgets
      <% end %>
    </li>
    <li class="Label menu-list">
      <i class="fa fa-file"></i>
      Modelo de Paginas
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Error 404', '/views/page_models/404.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Error 500', '/views/page_models/500.html' %>
      </li>
    </li>
    <li class="Label menu-list">
      <i class="fa fa-flask"></i>
      Componentes
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Tipografia', '/views/components/typography.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Anexo de arquivos', '/views/components/attachment.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Botões', '/views/components/buttons.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Abas', '/views/components/tabs.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Notificações e Tooltips', '/views/components/notifications_and_tooltips.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Labels e Badges', '/views/components/labels_and_badges.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Barra de Progresso', '/views/components/progress_bar.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Cartões', '/views/components/cards.html' %>
      </li>
    </li>
    <li class="Label menu-list">
      <i class="fa fa-th-list"></i>
      Formulários
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Básico', '/views/forms/basic_form.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Wizard', '/views/forms/wizard.html' %>
      </li>
      <li class="Collapsed menu-list-opened">
        <%= link_to 'Upload de Arquivos', '/views/forms/upload_files.html' %>
      </li>
    </li>
    <li class="menu-link">
      <% link_to 'https://github.com/myfreecomm/chameleon', target: '_blank' do %>
        <i class="fa fa-github"></i>
        Ver Projeto no Github
      <% end %>
    </li>
  </ul>
</nav>