%nav.menu#menu
  %ul
    %ul.account-box
      %li
        %section.account-avatar
          %i.fa.fa-university

        %section.account-info
          %h1 Grupo Bom Clima
          %select.select
            %option{:value => "volvo"} Volvo
            %option{:value => "saab"} Saab
            %option{:value => "mercedes"} Mercedes
            %option{:value => "audi"} Audi
          = link_to "Trocar de Conta", "#"

      %li.Label.menu-list
        %i.fa.fa-folder-open
        Contratos
        %li.Collapsed.menu-list-opened
          = link_to "Ativos", "#"

        %li.Collapsed.menu-list-opened
          = link_to "Inativos", "#"

      %li.Label.menu-list
        %i.fa.fa-file
        Faturamentos
        %li.Collapsed.menu-list-opened= link_to "A Faturar", "#"
        %li.Collapsed.menu-list-opened= link_to "Faturados", "#"
        %li.Collapsed.menu-list-opened= link_to "Cancelados", "#"
          
      %li.Label.menu-list
        %i.fa.fa-download
        Recebimentos
        %li.Collapsed.menu-list-opened= link_to "A Receber", "#"
        %li.Collapsed.menu-list-opened= link_to "Recebidos", "#"
        %li.Collapsed.menu-list-opened= link_to "Inadimplentes", "#"

      %li.Label.menu-list
        %i.fa.fa-upload
        Pagamentos
        %li.Collapsed.menu-list-opened= link_to "A Pagar", "#"
        %li.Collapsed.menu-list-opened= link_to "Pagos", "#"
        %li.Collapsed.menu-list-opened= link_to "Atrasados", "#"

      %li.Label.menu-list 
        %i.fa.fa-list
        Cadastros
        %li.Collapsed.menu-list-opened= link_to "Empresas"
        %li.Collapsed.menu-list-opened= link_to "Serviços"
        %li.Collapsed.menu-list-opened= link_to "Notificações"
        %li.Collapsed.menu-list-opened= link_to "Organizações"
      
      %li.menu-link
        = link_to "#" do
          %i.fa.fa-cube
          Integração
      %li.menu-link
        = link_to "#" do
          %i.fa.fa-gear
          Configuração
      %li.menu-link
        = link_to "#" do
          %i.fa.fa-question-circle
          Central de Ajuda