-
  var workers = [
    { id: "32133", name: "Rachel Lilki", email: "rachel@email.com",  post: "Aux. Administrativo", avatar_src: "http://i.pravatar.cc/50?img=1", href: "employee-detail.html",
      cpf: "123.456.789-10", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "76914", name: "Jamie Harington", email: "jamie@email.com",  post: "Designer Jr.", avatar_src: "http://i.pravatar.cc/50?img=2", href: "#" ,
      cpf: "123.456.789-11", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "96610", name: "John Lewis", email: "john@email.com",  post: "UX Designer", avatar_src: "http://i.pravatar.cc/50?img=3", href: "#",
      cpf: "123.456.789-12", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Morumbi, São Paulo - SP"
    },
    { id: "36069", name: "Lena Lilki", email: "lena@email.com",  post: "Front-end Developer", avatar_src: "http://i.pravatar.cc/50?img=4", href: "#",
      cpf: "123.456.789-13", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Morumbi, São Paulo - SP"
    },
    { id: "95562", name: "Susan Palmer", email: "susan@email.com",  post: "Desenvolvedor Web", avatar_src: "http://i.pravatar.cc/50?img=5", href: "#",
      cpf: "123.456.789-14", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "14548", name: "Jamie Harington", email: "jamie@email.com",  post: "Desenvolvedor Web", avatar_src: "http://i.pravatar.cc/50?img=6", href: "#",
      cpf: "123.456.789-15", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Belo Horizonte, Minas Gerais - MG"
    },
    { id: "68627", name: "Jeff Lewis", email: "jeff@email.com",  post: "Designer Jr.", avatar_src: "http://i.pravatar.cc/50?img=7", href: "#",
      cpf: "123.456.789-16", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Belo Horizonte, Minas Gerais - MG"
    },
    { id: "68627", name: "Ben Saric", email: "ben@email.com",  post: "Designer Jr.", avatar_src: "http://i.pravatar.cc/50?img=8", href: "#",
      cpf: "123.456.789-17", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Salvador, Bahia - BA"
    },
    { id: "42637", name: "Joel Simmons", email: "joel@email.com",  post: "UX Designer Jr.", avatar_src: "http://i.pravatar.cc/50?img=9", href: "#",
      cpf: "123.456.789-18", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Manaus, Amazonas - AM"
    }
  ];

doctype html
html
  include includes/head.pug

  body
    +nav('employees.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-hgroup
          h2.ui.medium.header Lista de Colaboradores
            .sub.header Listagem de todos os colaboradores cadastrados no sistema.

          button.ui.positive.button.js-new-billet Novo colaborador

        .ui.stackable.padded.grid
          .row
            .sixteen.wide.column
              .ui.segments
                .ui.segment.attached.paddingless
                  table.ui.basic.selectable.table
                    thead
                      tr
                        th(colspan="2") Nome
                        th E-mail
                        th Cargo
                        th Nº de Registro
                        th &nbsp;
                    tbody
                      each worker in workers
                        tr.row-link(data-href= worker.href)
                          td.center.aligned.ch-avatar-container
                            img.ch-avatar.small.rounded(src= worker.avatar_src)
                          td= worker.name
                          td= worker.email
                          td= worker.post
                          td= worker.id
                          td.right.aligned.ch-table-buttons
                            button.ui.icon.button.js-show-detail
                              i.chevron.down.icon
                        tr.ch-details-row.hidden
                          td(colspan="7")
                            .ch-details-row-content
                              .ui.grid.padded
                                .sixteen.wide.column
                                  h3.ui.small.header Outras informações

                                .four.wide.computer.sixteen.wide.mobile.column
                                  span CPF
                                  p
                                    strong= worker.cpf
                                .four.wide.computer.sixteen.wide.mobile.column
                                  span Salário
                                  p
                                    strong= worker.salary
                                .four.wide.computer.sixteen.wide.mobile.column
                                  span Data de Nascimento
                                  p
                                    strong= worker.birthday
                                .four.wide.computer.sixteen.wide.mobile.column
                                  span Endereço
                                  p
                                    strong= worker.adress

              .ui.segment.center.aligned.basic
                .row
                  .sixteen.wide.right.aligned.column
                    .ui.pagination.menu
                      a.disabled.item.
                        Anterior
                      a.active.item.
                        1
                      .disabled.item.
                        ...
                      a.item.
                        10
                      a.item.
                        11
                      a.item.
                        12
                      a.item.
                        Próxima

    .ui.ch-modal.long.modal
      i.close.icon
      .header.
        Novo colaborador

      form.ui.form
        .content
          .ui.basic.padded.segment
            .ch-avatar-upload
              .ch-avatar-container.big
                img.ch-avatar.rounded(src="http://via.placeholder.com/105x105")
              .info
                h3.ui.header Foto de perfil
                p Extensões de arquivo aceitas: .jpeg, .png, .gif, .tiff
                p Limite de tamanho de arquivo: 10MB
                .ch-input-file
                  label.ui.tiny.button.primary(for="file").
                      Adicionar foto
                  input(type="file" id="file")

        .ui.divider.fitted

        .content
          .ui.basic.padded.segment
            h3.ui.header Informações Pessoais

            .ui.divider.hidden

            .fields
              .eight.wide.field.required
                label(for="") Nome Completo
                input(type="text" placeholder="Nome")

              .field.required
                label(for="") Nº de Registro
                input(type="text")

            .four.fields
              .field
                label(for="") Data de Nascimento
                .ui.left.icon.input
                  input(type="text" placeholder="dd/mm/aaaa")
                  i.calendar.icon

              .field
                label(for="") Nacionalidade
                input(type="text" placeholder="Nacionalidade")

              .field
                label(for="") Naturalidade
                input(type="text" placeholder="Naturalidade")

              .field
                label(for="") Sexo
                input(type="text" placeholder="")

            .two.fields
              .field
                label(for="") Estado Civil
                select.ui.dropdown(name="")
                    each option in ["Opção 1", "Opção 2"]
                      option(value= option)= option
              .field
                label Escolaridade
                select.ui.dropdown(name="")
                    each option in ["Opção 1", "Opção 2"]
                      option(value= option)= option

            .two.fields
              .field
                label(for="") Cargo
                input(type="text")

              .field
                label(for="") Salário
                .ui.right.labeled.input
                  input(type="text" placeholder="0,00")
                  .ui.dropdown.label
                    .text BRL
                    i.dropdown.icon
                    .menu
                      .item BRL
                      .item EUR

        .ui.divider.fitted

        .content
          .ui.basic.padded.segment
            h3.ui.header Informações de Endereço

            .ui.divider.hidden

            .fields
              .four.wide.field.required
                label(for="") CEP
                input(type="text" placeholder="00.000-00")

              .ten.wide.field.required
                label(for="") Endereço
                input(type="text" placeholder="Endereço")

              .two.wide.field.required
                label(for="") Número
                input(type="text" placeholder="Número")

            .four.fields
              .field
                label(for="") Complemento
                input(type="text")

              .field
                label(for="") Bairro
                input(type="text")

              .field
                label(for="") Estado
                select.ui.dropdown(name="")
                  option(value="") UF
                  each option in ["Option 1", "Option 2", "Option 3", "Option 4"]
                    option(value= option)= option

              .field
                label(for="") Cidade
                select.ui.dropdown(name="")
                  option(value="") Selecione uma Cidade
                  each option in ["Option 1", "Option 2", "Option 3", "Option 4"]
                    option(value= option)= option

      .actions
        .ui.button.close Cancelar
        .ui.submit.positive.button Salvar

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
    script(type="text/javascript").
      $('.js-new-billet').on('click', function() {
        $('.long.modal').modal('show');
        $(this).removeClass('.active.selected');
      });
