-
  var workers = [
    { id: "32133", name: "Rachel Lilki", email: "rachel@email.com",  post: "Aux. Administrativo", avatar_src: "http://i.pravatar.cc/50?img=1", href: "employee-detail.html",
      cpf: "123.456.789-10", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "76914", name: "Jamie Harington", email: "jamie@email.com",  post: "Designer Jr.", avatar_src: "http://i.pravatar.cc/50?img=2", href: "#" ,
      cpf: "123.456.789-11", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "96610", name: "John Lewis", email: "john@email.com",  post: "UX Designer", avatar_src: "http://i.pravatar.cc/50?img=3", href: "#",
      cpf: "123.456.789-12", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Morumbi, São Paulo - SP"
    },
  ];

doctype html
html
  include includes/head.pug

  body
    +nav('table.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-hgroup.padded
          h1.ui.header Tabelas
            .sub.header Exemplos de tabelas

        br
        .ui.stackable.padded.grid
          .row
            .sixteen.wide.column
              .ui.medium.dividing.header Linhas Expansíveis
              .ui.segment.paddingless
                table.ui.basic.selectable.expandable.table
                  thead
                    tr
                      th(colspan="2") Nome
                      th E-mail
                      th Cargo
                      th Nº de Registro
                      th &nbsp;
                  tbody
                    each worker in workers
                      tr.row-link(data-href= worker.href)
                        td.center.aligned.ch-avatar-container
                          img.ch-avatar.small.rounded(src= worker.avatar_src)
                        td= worker.name
                        td= worker.email
                        td= worker.post
                        td= worker.id
                        td.right.aligned.ch-table-buttons
                          button.ui.icon.button.js-show-detail.hidden-mobile
                            i.chevron.down.icon
                      tr.ch-details-row.hidden
                        td(colspan="7")
                          .ch-details-row-content
                            .ui.grid.padded
                              .sixteen.wide.column
                                h3.ui.small.header Outras informações

                              .four.wide.computer.sixteen.wide.mobile.column
                                span CPF
                                p
                                  strong= worker.cpf
                              .four.wide.computer.sixteen.wide.mobile.column
                                span Salário
                                p
                                  strong= worker.salary
                              .four.wide.computer.sixteen.wide.mobile.column
                                span Data de Nascimento
                                p
                                  strong= worker.birthday
                              .four.wide.computer.sixteen.wide.mobile.column
                                span Endereço
                                p
                                  strong= worker.adress

              .ui.divider.hidden

              .ui.medium.dividing.header Com Ações
              .ui.segment.paddingless
                table.ui.basic.selectable.expandable.table
                  thead
                    tr
                      th.center.aligned.checkbox-column
                        input(type="checkbox")
                      th(colspan="2") Nome
                      th E-mail
                      th Cargo
                      th Nº de Registro
                      th &nbsp;
                  tbody
                    each worker in workers
                      tr
                        td.center.aligned
                          input(type="checkbox")
                        td.center.aligned.ch-avatar-container
                          img.ch-avatar.small.rounded(src= worker.avatar_src)
                        td= worker.name
                        td= worker.email
                        td= worker.post
                        td= worker.id
                        td.right.aligned.ch-table-buttons
                          button.ui.icon.button(data-tooltip="Editar" data-inverted)
                            i.edit.icon
                          button.ui.icon.button(data-tooltip="Gerar Relatório" data-inverted)
                            i.file.text.icon
                          button.ui.icon.button(data-tooltip="Excluir" data-inverted)
                            i.remove.icon

              .ui.divider.hidden

              .ui.segment.paddingless
                table.ui.basic.selectable.expandable.table
                  thead
                    tr
                      th.center.aligned.checkbox-column
                        input(type="checkbox")
                      th(colspan="2") Nome
                      th E-mail
                      th Cargo
                      th Nº de Registro
                      th &nbsp;
                  tbody
                    each worker in workers
                      tr
                        td.center.aligned
                          input(type="checkbox")
                        td.center.aligned.ch-avatar-container
                          img.ch-avatar.small.rounded(src= worker.avatar_src)
                        td= worker.name
                        td= worker.email
                        td= worker.post
                        td= worker.id
                        td.right.aligned
                          .ui.icon.dropdown.actions
                            i.icon.ellipsis.vertical
                            .menu.fixed-position
                              for item in ["Editar", "Gerar Relatório", "Excluir"]
                                .item=item

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
