-
  var people = [
    { name: "Rachel", photo_id: "1" },
    { name: "Lindsay", photo_id: "2" },
    { name: "Matthew", photo_id: "3" },
    { name: "Jenny Hess", photo_id: "4" },
    { name: "Veronika Ossi", photo_id: "5" }
  ];

  var groups = [
    { name: "Marketing", photo_id: "6" },
    { name: "Comercial", photo_id: "7" },
    { name: "Desenvolvimento", photo_id: "8" },
    { name: "Contabilidade", photo_id: "9" },
    { name: "Suporte", photo_id: "10" }
  ];

  var workers = [
    { name: "John Lilki", admission_date: "September 14, 2013", email: "jhlilk22@yahoo.com" },
    { name: "Jamie Harington", admission_date: "January 11, 2014", email: "jamieharingonton@yahoo.com" },
    { name: "Jill Lewis", admission_date: "May 11, 2014", email: "jilsewris22@yahoo.com" },
    { name: "Veronika Ossi", admission_date: "September 14, 2013", email: "verossi@yahoo.com" },
  ];

mixin smallCard(name, value, date, type)
  .four.wide.computer.eight.wide.tablet.column
    .ui.horizontal.segments
      .ui.segment.borderless.middle.aligned
        .ch-metric-label=name
      .ui.segment.borderless.right.aligned
        .ch-metric-value(class=type)
          i.icon.small.up.arrow
          span=value
        span.ch-metric-date=date

mixin listSegment(title, items)
  .ui.attached.segment.middle.aligned.ch-segment-header
    span.ch-segment-header-title= title
    .ui.icon.dropdown.actions
      i.icon.ellipsis.vertical
      .menu.fixed-position
        for item in ["Option 1", "Option 2", "Option 3"]
          .item=item

  .ui.attached.segment
    .ui.unstackable.divided.items.ch-list
      each item in items
        .item
          img.ui.avatar.image(src="http://i.pravatar.cc/50?img=" + item.photo_id)
          .middle.aligned.content
            span= item.name
            a.right.floated(href="#")
              i.icon.pencil

doctype html
html
  include includes/head.pug

  body(data-theme="default")
    +nav('dashboard.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ui.stackable.doubling.padded.grid

          .row
            +smallCard("Total de colaboradores", "800", "Jan  - Ago 2017", "blue")
            +smallCard("Total de grupos", "10", "Jan  - Ago 2017", "blue")
            +smallCard("Tarefas pendentes", "27", "Jan  - Ago 2017", "blue")
            +smallCard("Eventos", "14", "Jan  - Ago 2017", "red")

          .row.equal.width

            .column
              .ui.segments
                +listSegment("Colaboradores", people)

            .column
              .ui.segments
                +listSegment("Grupos", groups)

          .row
            .ten.wide.column
              .ui.segments
                .ui.attached.segment.middle.aligned.ch-segment-header
                  span.ch-segment-header-title Gráficos em linha

                .ui.attached.segment
                  #users-chart

            .six.wide.column
              .ui.segments
                .ui.attached.segment.middle.aligned.ch-segment-header
                  span.ch-segment-header-title Gráficos em pizza

                .ui.attached.segment
                  #pie-chart

          .row
            .sixteen.wide.column
              .ui.segments
                .ui.attached.segment.middle.aligned.ch-segment-header
                  span.ch-segment-header-title Lista de colaboradores
                .ui.attached.segment.paddingless
                  table.ui.very.basic.table
                    thead
                      tr
                        th Name
                        th Date Joined
                        th E-mail
                    tbody
                      each worker in workers
                        tr
                          td(data-info="Nome")= worker.name
                          td(data-info="Date Joined")= worker.admission_date
                          td(data-info="E-mail")= worker.email

    include includes/notifications.pug
    include includes/search.pug
    script(type="text/javascript" src="https://code.highcharts.com/highcharts.js")
    script(type="text/javascript").
      Highcharts.setOptions({
        colors: ["#2980b9", "#d35400", "#2ecc71", "#f1c40f", "#2c3e50", "#7f8c8d"],
        credits: {
          enabled: false
        },
        chart: {
          type: 'line',
          animation: false,
          style: {
            fontFamily: 'Lato, sans-serif'
          }
        },
        title: {
          text: null,
        },
        tooltip: {
          shared: true,
          crosshairs: true,
        },
        plotOptions: {
          series: {
            title: null,
            animation: false,
            fillOpacity: 0.1,
          },
        },
        yAxis: {
          allowDecimals: false,
          title: null
        },
      });

      Highcharts.chart('users-chart', {
        title: {
          text: null
        },

        subtitle: {
          text: null
        },

        yAxis: {
          title: {
            text: null
          }
        },

        plotOptions: {
          series: {
            pointStart: 2010
          }
        },

        series: [{
          name: 'Installation',
          data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }, {
          name: 'Manufacturing',
          data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
        }, {
          name: 'Sales & Distribution',
          data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
        }, {
          name: 'Other',
          data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        }]
      });

      Highcharts.chart('pie-chart', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: null
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
          }
        },
        series: [{
          name: 'Brands',
          colorByPoint: true,
          data: [{
              name: 'Microsoft Internet Explorer',
              y: 56.33
          }, {
              name: 'Chrome',
              y: 24.03,
          }, {
              name: 'Firefox',
              y: 10.38
          }, {
              name: 'Safari',
              y: 4.77
          }, {
              name: 'Opera',
              y: 0.91
          }, {
              name: 'Proprietary or Undetectable',
              y: 0.2
          }],
        }]
      });
