-
  var data_table = [
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Shoptime",
      client: "Augusto Manoel dos Santos",
      value: "R$ 89,99",
      status: "Aguardando separação de produtos",
      status_icon: "fa-box-open",
      status_color: "#E58D00",
      action: "Separar produtos",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Shoptime",
      client: "Augusto Manoel dos Santos",
      value: "R$ 89,99",
      status: "Aguardando separação de produtos",
      status_icon: "fa-box-open",
      status_color: "#E58D00",
      action: "Separar produtos",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Americanas",
      client: "Augusto Manoel dos Santos",
      value: "R$ 89,99",
      status: "Aguardando pagamento",
      status_icon: "fa-user-clock",
      status_color: "#F73D4E",
      action: "",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Shoptime",
      client: "Maria da Silva",
      value: "R$ 99,99",
      status: "Aguardando pagamento",
      status_icon: "fa-user-clock",
      status_color: "#F73D4E",
      action: "",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Americanas",
      client: "Maria da Silva",
      value: "R$ 89,99",
      status: "Aguardando separação de produtos",
      status_icon: "fa-box-open",
      status_color: "#E58D00",
      action: "Separar produtos",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Submarino",
      client: "Augusto Manoel dos Santos",
      value: "R$ 89,99",
      status: "Faturado",
      status_icon: "fa-check",
      status_color: "#6C9C35",
      action: "Emitir etiqueta",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Submarino",
      client: "Augusto Manoel dos Santos",
      value: "R$ 89,99",
      status: "Finalizado",
      status_icon: "fa-check-double",
      status_color: "#6C9C35",
      action: "",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Acom",
      client: "Miguel dos Santos",
      value: "R$ 7,99",
      status: "Aguardando pagamento",
      status_icon: "fa-user-clock",
      status_color: "#F73D4E",
      action: "",
    },
    {
      date: "11/08/2017",
      document: "1539095437476",
      channel: "Shoptime",
      client: "Augusto Manoel dos Santos",
      value: "R$ 89,99",
      status: "Finalizado",
      status_color: "#6C9C35",
      status_icon: "fa-check-double",
      action: "",
    },
  ];

doctype html
html
  include includes/head.pug

  body(data-theme="estoka")
    .ch-nav
      +logo('estoka_logo.png', 'Estoka')

      ul.ch-menu

        include partials/menu/estoka.pug

        li.ch-menu-item.more.mobile-only
          button(data-toogle="nav")
            i.fal.fa-ellipsis-h-alt.fa-icon

      include partials/expandButton.pug

    main.ch-content
      include partials/header/estoka.pug

      .ui.padded.grid.stackable

        .ui.sixteen.wide.column.right.aligned
          .dropdown-list
            select.ui.dropdown
              option Todos os canais de venda

            select.ui.dropdown
              option Todos os status

            select.ui.dropdown
              option Últimos 30 dias

        .ui.sixteen.wide.column
          table.ui.very.basic.sortable.table.ch-table
            thead
              tr
                th Data
                th Número
                th Canal
                th Cliente
                th Valor
                th Status
                th Ação

            tbody
              each data in data_table
                tr
                  td(data-info="Data")=data.date
                  td(data-info="Número")
                    a(href="#")= data.document
                  td(data-info="Canal")= data.channel
                  td(data-info="Cliente")= data.client
                  td(data-info="Valor")= data.value
                  td(data-info="Status" style="color: " + data.status_color)
                    strong
                      i(class="fal " + data.status_icon style="margin-right: .5em;")
                      span= data.status
                  td
                    if data.action
                      a.ui.button.basic.secondary.small.fluid(href="#")= data.action


          .ui.segment.basic.paddingless.right.aligned.h-text-center--mobile
            .ui.pagination.menu.ch-pagination
              a.item
                i.fal.fa-angle-double-left
              a.item
                i.fal.fa-angle-left
              a.active.item 1
              a.item 2
              .disabled.item ...
              a.item 20
              a.item 21
              a.item
                i.fal.fa-angle-right
              a.item
                i.fal.fa-angle-double-right


    include includes/notifications.pug
    include includes/search.pug

    script(src="https://semantic-ui.com/javascript/library/tablesort.js")
    script.
      $('table').tablesort();
      $('.ui.dropdown').dropdown();
