-
  var cobrancas = [
    { id: "Myfinance Development - Boleto Bradesco 09", type: "payment", payer: "John Doe", date: "11/03/2017",
      cost: "R$ 15,00", paid: "R$ 15,00", status_msg: "Capturado", status_color: "blue", status_icon: "check circle"
    },
    { id: "Myfinance DEVELOPMENT Cielo", type: "barcode", payer: "Doe Company", date: "11/03/2017",
      cost: "R$ 15,00", paid: "---", status_msg: "Cobrança sem registro", status_color: "orange", status_icon: "minus circle"
    },
    { id: "Myfinance DEVELOPMENT Cielo", type: "payment", payer: "Doe Company", date: "11/03/2017",
      cost: "R$ 15,00", paid: "---", status_msg: "Cancelado", status_color: "yellow", status_icon: "remove circle"
    },
    { id: "Myfinance Development - Boleto Bradesco 09", type: "payment", payer: "John Doe", date: "11/03/2017",
      cost: "R$ 15,00", paid: "---", status_msg: "Erro na autorização", status_color: "red", status_icon: "exclamation circle"
    },
    { id: "Myfinance Development - Boleto Bradesco 09", type: "barcode", payer: "John Doe", date: "11/03/2017",
      cost: "R$ 49,90", paid: "R$ 49,90", status_msg: "Cobrança sem registro", status_color: "orange", status_icon: "minus circle"
    },
  ];

doctype html
html
  include includes/head.pug

  body(data-theme="default")
    +nav('pages.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-header
          h2.ui.medium.header Cobranças

          .ui.top.right.pointing.dropdown.button.positive
            span Nova Cobrança
            i.dropdown.icon
            .menu
              .item Boleto
              .item Gateway de pagamento

        .ui.stackable.padded.grid
          .row
            .sixteen.wide.column
              .ui.segments
                .ui.attached.segment.ch-segment-header
                  span Mostrando 5 de 5 resultados
                  a.ch-segment-header-button(href="#" data-target="modal" data-modal="filters")
                    i.filter.icon
                    span.text Filtros
                .ui.segment.attached.paddingless
                  table.ui.basic.selectable.table
                    thead
                      tr
                        th Config. de Cobrança
                        th Tipo
                        th Pagador
                        th Vencimento
                        th Cobrado
                        th Pago
                        th.center.aligned &nbsp;
                        th &nbsp;
                        th &nbsp;
                    tbody
                      each cobranca in cobrancas
                        tr
                          td(data-info="Config. de Cobrança")= cobranca.id
                          td(data-info="Tipo")
                            i.ui.icon(class=cobranca.type)
                          td(data-info="Pagador")= cobranca.payer
                          td(data-info="Vencimento")= cobranca.date
                          td(data-info="Cobrado")= cobranca.cost
                          td(data-info="Pago")= cobranca.paid
                          td(data-info="Status").center.aligned.ch-table-label
                            span.ui.label(class=cobranca.status_color)
                              i.ui.icon(class=cobranca.status_icon)
                              =cobranca.status_msg
                          td
                            .ui.info
                              i.ui.icon.circle.info(data-html="<strong>Título</strong><br><p>Conteúdo HTML</p>")
                          td.right.aligned
                            .ui.icon.dropdown.actions
                              i.icon.ellipsis.vertical
                              .menu.fixed-position
                                for item in ["Option 1", "Option 2", "Option 3"]
                                  .item=item

    include includes/filters.pug
    include includes/notifications.pug
    include includes/search.pug
