doctype html
html
  include includes/head.pug

  body
    +nav('pages.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-header.colored
          h2.ui.medium.header Relatórios
            .sub.header Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos.

        .ch-tabs
          .ui.pointing.secondary.menu
            a.item.active(data-tab="rs") Relatório Simples
            a.item(data-tab="rd") Relatório Dinâmico
            a.item(data-tab="mr") Modelos de Relatório

        .ui.divider.hidden

        .ui.stackable.padded.grid
          .row
            .sixteen.wide.column
              .ui.tab.active(data-tab="rs")
                form.ui.form
                  .ui.segments
                    .ui.segment.attached.ch-segment-header
                      span.ch-segment-header-title Relatório Simples
                    .ui.segment.attached
                      .fields
                        .four.wide.field
                          label(for="") Agrupar por
                          select.ui.dropdown(name="")
                            each option in ["Opção 1", "Opção 2"]
                              option(value= option)= option

                      .four.fields
                        .grouped.fields.field
                          label Vencimento
                          each option in [{label: "Vencidas", name: "vencidas"},{label: "À Receber", name: "receber"},{label: "Recebidas", name: "recebidas"}]
                            .field
                              .ui.checkbox
                                input(type="checkbox" name=option.name)
                                label=option.label

                        .grouped.fields.field
                          label Tipo
                          each option in [{label: "Normais", name: "normais"},{label: "Recorrentes", name: "recorrentes"},{label: "Parceladas", name: "parceladas"}]
                            .field
                              .ui.checkbox
                                input(type="checkbox" name=option.name)
                                label=option.label

                        .grouped.fields.field
                          label Recibos
                          each option in [{label: "Com recibos", name: "com_recibos"},{label: "Sem Recibos", name: "sem_recibos"}]
                            .field
                              .ui.checkbox
                                input(type="checkbox" name=option.name)
                                label=option.label

                        .grouped.fields.field
                          label Imposto de Renda
                          each option in [{label: "Relevante para IR", name: "relevantes_ir"},{label: "Não revelante para IR", name: "nao_relevante"}]
                            .field
                              .ui.checkbox
                                input(type="checkbox" name=option.name)
                                label=option.label

                      .four.fields
                        .grouped.fields.field
                          label Conciliação
                          each option in [{label: "Conciliadas", name: "conciliadas"},{label: "Não conciliadas", name: "nao_conciliadas"}]
                            .field
                              .ui.checkbox
                                input(type="checkbox" name=option.name)
                                label=option.label

                        .grouped.fields.field
                          label Anexos
                          each option in [{label: "Com anexos", name: "com_anexos"},{label: "Sem anexos", name: "sem_anexos"}]
                            .field
                              .ui.checkbox
                                input(type="checkbox" name=option.name)
                                label=option.label
                      .fields
                        .six.wide.field
                          label Criado em
                          .two.fields
                            .field
                              .ui.left.icon.input
                                input(type="text" placeholder="De")
                                i.calendar.icon
                            .field
                              .ui.left.icon.input
                                input(type="text" placeholder="Até")
                                i.calendar.icon

                    .ui.segment.attached.right.aligned
                      .ui.button.blue Gerar Relatório

              .ui.bottom.tab(data-tab="rd")
                .ui.stackable.grid
                  .row
                    .thirteen.wide.column
                      .ch-wizard-container
                        form.ui.form
                          ol.ch-wizard.ch-wizard--vertical
                            li.ch-wizard-step.current
                              .header
                                h4.ui.medium.header Selecione o agrupador
                                  .sub.header Agrupadores servem para organizar a informação de uma forma mais eficiente.
                              .content
                                .inline.fields
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="agrupador" id="projects")
                                      label(for="projects") Projetos
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="agrupador" id="activities")
                                      label(for="activities") Atividades
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="agrupador" id="employees")
                                      label(for="employees") Colaboradores

                            li.ch-wizard-step
                              .header
                                h4.ui.medium.header Qual tipo ?
                                  .sub.header Defina o tipo do seu relatório.
                              .content
                                .inline.fields
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="tipo" id="synthetic")
                                      label(for="synthetic") Sintético
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="tipo" id="analytic")
                                      label(for="analytic") Analítico

                            li.ch-wizard-step
                              .header
                                h4.ui.medium.header Gostaria de mais opções ?
                                  .sub.header Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!
                              .content
                                .inline.fields
                                  .field
                                    .ui.checkbox.options
                                      input.hidden(type="checkbox" tabindex="0" name="add-graphs" id="add-graphs")
                                      label(for="add-graphs") Adicionar Gráfico
                                  .field
                                    .ui.checkbox.options
                                      input.hidden(type="checkbox" tabindex="0" name="add-stats" id="add-stats")
                                      label(for="add-stats") Adicionar Estatísticas

                            li.ch-wizard-step
                              .header
                                h4.ui.medium.header Gostaria de mais opções ?
                                  .sub.header Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!
                              .content
                                .inline.fields
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="filters" id="filter-yes")
                                      label Sim
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="filters" id="filter-no")
                                      label Não

                    .sixteen.wide.column
                      .ui.divider
                      input.ui.button.blue(type="submit" value="Gerar Relatório")

              .ui.tab(data-tab="mr")
                .ui.segments
                  .ui.attached.segment.ch-segment-header
                    span.ch-segment-header-title Modelos de Relatório

                  .ui.attached.segment.paddingless
                    table.ui.very.basic.table
                      - for (var i=0; i<5; i++)
                        tr
                          td
                            h4.ui.header Relatório sintético agrupado por Projetos
                              .sub.header Com #[strong #[a(class="bind-popup" data-position="right center" href="#" data-html="<div class='ui small label'>Ocorrido em: 01/03/2017 á 10/04/2017</div><div class='ui small label'>Contém comentários</div><div class='ui small label'>Contém etiquetas</div>") 3] ]filtros selecionados

                          td.right.aligned Criado em: 27/12/2017 14:39:54
                          td.right.aligned.ch-table-buttons
                            button.ui.icon.button(data-tooltip="Editar" data-inverted)
                              i.edit.icon
                            button.ui.icon.button(data-tooltip="Gerar Relatório" data-inverted)
                              i.file.text.icon
                            button.ui.icon.button(data-tooltip="Excluir" data-inverted)
                              i.remove.icon

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
